<!DOCTYPE HTML>
<html>
	<head>
		<title>Travelogue</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/Icon/Icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css?ver=4" />
		<script src="https://kit.fontawesome.com/1e6ef2567d.js" crossorigin="anonymous"></script>
	</head>
	<style>
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index" class="logo"><strong>Travelogue</strong> - Make your trip more beautiful</a>
								</header>

								<section>
									<header class="major">
										<h2>여행 경비 계산기</h2>
									</header>
									<div class="features">
										<article>
											<div class="content" style="margin-bottom: auto;">
												<h3>인원 수</h3>
												<div class="col-6 col-12-xsmall" style="width: max-content;">
													<input type="number" placeholder="00">
													<input type="submit" value="추가" class="primary" style="font-family: Georgia, '맑은 고딕', serif; margin-top: 10px;" />
												</div>
											</div>
											<div class="content">
												<h3>지출</h3>
												<div class="col-12" style="width: max-content;">
													<input type="text" style="margin-bottom: 10px;" placeholder="00식당">
													<input type="number" placeholder="000원">
												</div>
											</div>
										</article>
										<!--<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>Sapien veroeros</h3>
												<i class="fa-solid fa-robot-astromech" style="color: #f56a6a;"></i>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>-->
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index">메인</a></li>
										<li><a href="gallery">사진 갤러리</a></li>
										<li><a href="memory">추억 저장소</a></li>
										<li>
											<span class="opener">여행 정보</span>
											<ul>
												<li><a href="travel_journal">여행 일지</a></li>
												<li><a href="travel_recommendations">여행 추천</a></li>
												<li><a href="travel_statistics">여행 통계</a></li>
												<li><a href="travel_calendar">여행 일정 관리</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">추가 기능</span>
											<ul>
												<li><a href="calculator">경비 계산</a></li>
												<li><a href="travel_test">여행 성향 테스트</a></li>
												<li><a href="translation">언어 번역</a></li>
												<li><a href="weather">날씨 정보</a></li>
											</ul>
										</li>
									</ul>
								</nav>
<!--
							 Section 
								<section>
									<header class="major">
										<h2>Ante interdum</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="/images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="/images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>
-->
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>