<!DOCTYPE HTML>
<html>
	<head>
		<title>차량 인식 시스템</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
    <body>
    </body>
    <script>
        var goodURL  = "MainPage";
        var password =  prompt("비밀번호를 입력해주세요","");
            if (password == null)  {
                alert("비밀번호를 입력해주세요.");
                location  = "/";
            }
            else  {
            var  combo =  password
            var  total =  combo.toLowerCase()
            if  (total == "!asdf1234")  {
                location  =  goodURL
            }
            else  {
                alert("비밀번호가 틀립니다")
                location  = "/"; 
            }
        }
        </script>